
@media screen and (max-width: 549px) {

/*Title header*/

.title h1 {
	font-size: 240%;
	font-weight: 80;
	margin: 3% 0 0 5%;
	}
	
.title h2 {
	margin: 0 0 0% 5%;
	font-size: 90%;
}


.nav {
	margin: 0;
    z-index: 10;
    font-size: 90%;
    padding: 0;
    width: 23%;
    display: block;
    position: absolute;
    margin: 0, 0, 5%, 0;
    color: #48504c;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0 ease;
  }
  
.nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(310%, 0);
    text-decoration: none;
  }
  
.nav ul {
	margin: 0;
	padding: 0;
}

.nav ul li {
	display: block;
	text-align: right;
}

.nav ul ul {
	position: relative;
	transform: translate(-75%, -18%);
}

.nav ul ul li {
	position: relative;
	display: inline-block;
}

.headermenu {
  	width: 100%;
    display: inline-block;
    margin: -3% 5% 2% 0%;
    text-align: right;
    float: right;
}

.headermenu svg {
    width: 8%;
    fill: white;
}



/*home tab*/
.main{
	display: block;
    margin-left: 0%;
    margin-right: 0%;
}
.main img{
	display: block;
    width: 100%;
    max-height: 600px;
    }


/*footer*/
.footer p {
	font-size: 6px;
}



/*about tab*/

.about {
	position: absolute;
	margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.mainabout h1 {
	font-size: 90%;
	color: #48504c;
}
.mainabout p {
	color: #242a27;
	font-family: "Century Gothic" "Lucida Grande" sans-serif;
	font-size: 70%;
	font-weight: 120;
}
.aboutpicture {
	max-width:220px;
	min-width: 150px;
}

.contactpage {
 	margin-left: 5%;
    margin-right: 5%;
}

.contactpage h1 {
	font-size: 100%;
}
.contactpage p {
	font-size: 80%;
}

}

@media screen and (min-width: 650px) and (max-width: 900px) {
.aboutpicture {
	max-width:260px;
	min-width: 180px;
}
}

@media screen and (min-width: 550px) and (max-width: 649px) {
.aboutpicture {
	max-width:240px;
	min-width: 180px;
}
}
@media screen and (max-width:549px) {
.price {
	margin-top: 24%;
}
}

@media screen and (max-width:549px) {
.price p { display:none; 
}
}