html, body {
	font-size: 100%;
	background-color: #FFFFFF;
	font-family:"Century Gothic", Helvetica, Arial, sans-serif;
	margin: 0;
  	padding: 0;
  	width: 100%;
  	height: 100%;
}

/*Title header*/


.title {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.title h1 {
	font-style: italic;
	width: 100%;
	font-size: 380%;
	font-weight: 100;
	margin: 3% 0 0 15%;
	letter-spacing: .01%;
	float: left;
	color: black;
}
.title h2 {
	margin: 0 0 1% 15%;
	font-size: 110%;
	color: black;
	float: left;
	width: 100%;
}

/*navigation bar*/

.headermenu {
  display: none;
}


.nav {
	width: 100%;
	color: black;
	text-transform: uppercase;
}
.nav ul {
	list-style: none;
	margin: 1.5% 15% 2% 0; 
	letter-spacing: .01%;
	text-align: right;
	position: relative;
}
.nav ul li {
	position: relative;
	text-align: center; 
	display: inline-block;
	font-size: 110%;
	padding: 0 2%;
}
.btn {
	text-decoration: none;
	color: black
}
.btn:hover {
	text-decoration: none;
	cursor: pointer; 
	transition: background .5s;
	color: 	red;
}

.nav ul li:hover ul {
	display: block;
	right: 0;
	margin: 0 5% 0 0;
	position: absolute;
}



.nav ul ul {
	display: none;
	transform: translate(0, 0);
}
.nav ul ul li {
	display: block;
	font-size: 80%;
}

/*Footer*/
.footer {
	text-align: right;
	width: 100%;
	font-size: 50%;
	font-family:"Century Gothic", Helvetica, Arial, sans-serif;
	clear: both;
    bottom: 0;
    position: fixed;
}

/*home tab*/
.main{
	display: block;
    margin-left: 15%;
    margin-right: 15%;
}
.main img{
	display: block;
    width: 100%;
    max-height: 550px;
}


/*about tab*/

.about {
	display: inline-block;
	margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}

.mainabout {
	display: block;
    margin-right: 2%;
}
.mainabout h1 {
	font-size: 110%;
	color: #48504c;
}
.mainabout p {
	color: #242a27;
	font-family: "Century Gothic" "Lucida Grande" sans-serif;
	font-size: 90%;
	font-weight: 120;
}
.aboutpicture {
	width: 100%;
	max-width:350px;
	min-width: 250px;
	display: block;
	float: right;
	margin: 1%;
}


/*Paintings Tab*/

.price {
	float: right;
	position: fixed;
	color: #3b5998;
	text-align: right;
	width: 99%;
	height: 20%;
	clear: both;
	display: block;
		margin-top: 2%;
	margin-right: 1%;
}

.price p{
	font-size: 75%;
	font-family:"Arial Bold", sans-serif;
	font-weight: bold;
}

.price div{
	background-color: #669999;
	border-radius: 25px;
	margin-top: 3%;
	margin-left: 1%;
}

.price a {
	color: #242a27;
}

.fa {
    background-color: #3b5998;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin: 2px 2px;
    width: 24px;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

.fa:hover {
    opacity: 0.7;
}


.paintingpage {
	display: block;
	margin-left: 8%;
    margin-right: 8%;
    text-align:center;
}

.paintings {
	display:inline-block;
	width: 300px;
	margin: 40px 12px;
}
.paintings img {
	width: 280px;
	height: 392.41px;
	position: center center;
	object-fit: cover;
}

.paintings figure {
	display: block;
	width: 282px;
	margin: 0px auto 0px auto;
}
.paintings figcaption {
	text-align: center;
}

.paintings2 {
	display:inline-block;
	width: 300px;
	margin: 40px 12px;
}
.paintings2 img {
	width: 280px;
	height: 392.41px;
	position: center;
}

.paintings2 figure {
	display: block;
	width: 282px;
	margin: 0px auto 0px auto;
}
.paintings2 figcaption {
	text-align: center;
}

.paintings3 {
	display:inline-block;
	width: 300px;
	margin: 40px 12px;
}
.paintings3 img {
	width: 280px;
	height: 300px;
	position: center;
}

.paintings3 figure {
	display: block;
	width: 282px;
	margin: 0px auto 0px auto;
}
.paintings3 figcaption {
	text-align: center;
}


/*Contact Tab*/

.contactpage {
	display: inline-block;
	margin-left: 15%;
    margin-right: 15%;
}

.contactpage h1 {
font-size: 140%;
}

.contactdiv {
	display: inline-block;
    text-align:center;
}

.contact {
	display: block;
    margin-top: 6%;
    width: 48%;
    text-align: center;
    float: right;
    position: relative;
}


.contact a{
	text-decoration: none;
	color: black;
	margin: 0;
	display: inline-block;
}
.contact a:hover {
	text-decoration: none;
	cursor: pointer; 
	transition: background .5s;
	color: 	black;
}
.contact .facebook {
	color: #3b5998;
	font-weight: bold;
}
.contact .facebook a:hover {
	text-decoration: none;
	cursor: pointer; 
	transition: background .5s;
	color: 	white;
}

.eventimg {
	max-width:45%;
	float: left;
	margin-top: 5%;
	margin-right: 0%;
}

.pastevent {
	display: inline-block;
	float: clear;
    margin-top: 1%;
}
.pastevent2{
	width: 70%;
	float: left;
	margin-top: 10%;
}

.pastevent img {
	max-width: 30%;
	float: right;
	margin-top: 10%;
}
.pop-out
    {
        transition: transform .5s;
    }

.pop-out:hover
    {
        -ms-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }

/*Hover Paintings*/
span.text-content {
  background: rgba(0,0,0,0.5);
  color: black;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}
/*Modal*/
.paintings {
	cursor: pointer;
    transition: 0.3s;
}
.paintings:hover {opacity: 0.7;}

.paintings2 {
	cursor: pointer;
    transition: 0.3s;
}
.paintings2:hover {opacity: 0.7;}

.paintings3 {
	cursor: pointer;
    transition: 0.3s;
}
.paintings3:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

