html, body {
	font-size: 100%;
	background-color: #669999;
	color: white;
	font-family:"Century Gothic", Helvetica, Arial, sans-serif;
	margin: 0;
  	padding: 0;
  	width: 100%;
  	height: 100%;
}

/*Title header*/


.title {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.title h1 {
	font-style: italic;
	width: 100%;
	font-size: 380%;
	font-weight: 100;
	margin: 3% 0 0 15%;
	letter-spacing: .01%;
	float: left;
}
.title h2 {
	margin: 0 0 1% 15%;
	font-size: 110%;
	color: white;
	float: left;
	width: 100%;
}

/*navigation bar*/

.headermenu {
  display: none;
}


.nav {
	width: 100%;
	color: white;
	text-transform: uppercase;
}
.nav ul {
	list-style: none;
	margin: 1.5% 15% 2% 0; 
	letter-spacing: .01%;
	text-align: right;
	position: relative;
}
.nav ul li {
	position: relative;
	text-align: center; 
	display: inline-block;
	font-size: 110%;
	padding: 0 2%;
}
.btn {
	text-decoration: none;
	color: white;
}
.btn:hover {
	text-decoration: none;
	cursor: pointer; 
	transition: background .5s;
	color: 	#48504c;
}

.nav ul li:hover ul {
	display: block;
	right: 0;
	margin: 0 5% 0 0;
	position: absolute;
}



.nav ul ul {
	display: none;
	transform: translate(0, 0);
}
.nav ul ul li {
	display: block;
	font-size: 80%;
}

/*Footer*/
.footer {
	text-align: right;
	width: 100%;
	font-size: 50%;
	font-family:"Century Gothic", Helvetica, Arial, sans-serif;
	clear: both;
    bottom: 0;
    position: fixed;
}

/*home tab*/
.main{
	display: block;
    margin-left: 15%;
    margin-right: 15%;
}
.main img{
	display: block;
    width: 100%;
    max-height: 550px;
}


/*about tab*/

.about {
	display: inline-block;
	margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}

.mainabout {
	display: block;
    margin-right: 2%;
}
.mainabout h1 {
	font-size: 110%;
	color: #48504c;
}
.mainabout p {
	color: #242a27;
	font-family: "Century Gothic" "Lucida Grande" sans-serif;
	font-size: 90%;
	font-weight: 120;
}
.aboutpicture {
	width: 100%;
	max-width:350px;
	min-width: 250px;
	display: block;
	float: right;
	margin: 1%;
}


/*Paintings Tab*/

.price {
	float: right;
	position: fixed;
	color: #3b5998;
	text-align: right;
	width: 99%;
	height: 20%;
	clear: both;
	display: block;
		margin-top: 2%;
	margin-right: 1%;
}

.price p{
	font-size: 85%;
	font-family:"Arial Bold", sans-serif;
	font-weight: bold;
}

.price div{
	background-color: #669999;
	border-radius: 25px;
	margin-top: 3%;
	margin-left: 1%;
}

.price a {
	color: #242a27;
}

.fa {
    background-color: #3b5998;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin: 2px 2px;
    width: 24px;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

.fa:hover {
    opacity: 0.7;
}


.paintingpage {
	display: block;
	margin-left: 8%;
    margin-right: 8%;
    text-align:center;
}

.paintings {
	display:inline-block;
	width: 300px;
	margin: 40px 12px;
}
.paintings img {
	width: 280px;
	height: 392.41px;
	position: center center;
	object-fit: cover;
}

.paintings figure {
	display: block;
	width: 282px;
	margin: 0px auto 0px auto;
}
.paintings figcaption {
	text-align: center;
}

.paintings2 {
	display:inline-block;
	width: 300px;
	margin: 40px 12px;
}
.paintings2 img {
	width: 280px;
	height: 392.41px;
	position: center;
}

.paintings2 figure {
	display: block;
	width: 282px;
	margin: 0px auto 0px auto;
}
.paintings2 figcaption {
	text-align: center;
}

.paintings3 {
	display:inline-block;
	width: 300px;
	margin: 40px 12px;
}
.paintings3 img {
	width: 280px;
	height: 300px;
	position: center;
}

.paintings3 figure {
	display: block;
	width: 282px;
	margin: 0px auto 0px auto;
}
.paintings3 figcaption {
	text-align: center;
}


/*Contact Tab*/

.contactpage {
	display: inline-block;
	margin-left: 15%;
    margin-right: 15%;
}

.contactpage h1 {
font-size: 140%;
}

.contactdiv {
	display: inline-block;
    text-align:center;
}

.contact {
	display: block;
    margin-top: 6%;
    width: 48%;
    text-align: center;
    float: right;
    position: relative;
}


.contact a{
	text-decoration: none;
	color: white;
	margin: 0;
	display: inline-block;
}
.contact a:hover {
	text-decoration: none;
	cursor: pointer; 
	transition: background .5s;
	color: 	white;
}
.contact .facebook {
	color: #3b5998;
	font-weight: bold;
}
.contact .facebook a:hover {
	text-decoration: none;
	cursor: pointer; 
	transition: background .5s;
	color: 	white;
}

.eventimg {
	max-width:50%;
	float: left;
	margin-top: 5%;
	margin-right: 2%;
}

.pastevent {
	display: inline-block;
	float: clear;
    margin-top: 1%;
}
.pastevent2{
	width: 70%;
	float: left;
	margin-top: 10%;
}

.pastevent img {
	max-width: 30%;
	float: right;
	margin-top: 3%;
}
.pop-out
    {
        transition: transform .5s;
    }

.pop-out:hover
    {
        -ms-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }
